<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flicked | new release movie scheduler</title>

<link rel="shortcut icon" href="img/favicon.ico?ver=1.0" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poiret+One&family=Raleway&display=swap" rel="stylesheet">    

  <!--- basic page needs and meta to boost SEO
  ================================================== -->
  <meta charset="utf-8">
  <meta name="description" content="New release movie schedule" />  
  <meta name="author" content="Konnen Hannaford, Zachary H, Mark Watson"  />
  <meta name="KEYWORDS" content="front end web developer, front-end web developer, full stack developer, 
                                social media, graphic design, analysis, database, 
                                e-commerce, website, web design, web designer, grahic design  
                                ui designer, ux designer, ui, ux, movies, new releases, 
                                curriculum vitae web developer, resume web developer"  />
  
  <!-- CSS
  ================================================== -->  

  <link type="text/css" rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link type="text/css" rel="stylesheet"  href="./css/jass.css">
  {{!-- <link type="text/css" rel="stylesheet" href="./css/style_signin.css"/> --}}
    <link type="text/css" rel="stylesheet" href="./css/nav.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poiret+One&family=Raleway&display=swap" rel="stylesheet">    

  
</head>

<header>
  <!-- ================================================ --> 
  {{!-- <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2"> --}}

     {{!-- <div class="logo-container"> --}}
      <a href="/"><img class="logo" src="./img/FlickedLogo.png" height="100px" width="100px"/></a>
  {{!-- </div> --}}


</header>




<body class="login">
  <div class="flex-column justify-space-around">
    
      {{!-- <header class="display-block justify-space-between align-center p-5">

        <div class="logo-container">
            <a href="/"><img class="logo" src="./img/FlickedLogo.png" /></a>
        </div>

      </header> --}}

      <!-- Render the sub layout -->

      {{{ body }}}
    

</body>

</html>

