        <div class="stage">
            <div class="container">
                <div class="ring">
                    <div class="img">
                        <a href="#">
                            <img src={{poster_path}} alt="" height="600px" width="400px"/>
                        </a>
                        <div class="movie-info">
                            <p class="release">{{release_date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
