
<div class="row justify-center">

    <div class = "login mr-5 display-flex card-rounded col-8 col-md-6 col-lg-3">

        <form class="form join-form">
            
            <div class="card-header join-title">
                <h2>Signup</h2>
            </div>

            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>

            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>

            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>

            <div class="form-group">
                <a  href="/login">
                    <div class="login-button">ø Already joined? Click here to login. </div>
                </a>
            </div>
            
            <p class="bcrypt-protected">Your password is protected with: </p>
            <div class="card-landing">
                <img src="../img/bcrypt_logo.svg" class="card-img-top" alt="...">
            </div>

        </form>
    </div>
    
</div>

<script src="./js/join.js"></script>

