<div class="row">
  <div class="col-12">

    <form class="form join-form col-12 text-center">
      <h2 class="font-weight-bold text-center">Signup</h2>

      <div class="form-group col-12">
        <label for="name-signup">Name:</label>
        <input class="form-control" type="text" id="name-signup" placeholder="name" />
      </div>

      <div class="form-group col-12">
        <label for="email-signup">Email:</label>
        <input class="form-control" type="password" id="email-signup" placeholder="email" />
      </div>

      <div class="form-group col-12">
        <label for="password-signup">Password:</label>
        <input class="form-control" type="password" id="password-signup" placeholder="password" />
      </div>

      <div class="form-group col-12 text-center">
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>

    <div class="form-group col-12 align-items-center">
      <a href="/login">
        <div class="login-button"> Have an account? Log in here.</div>
      </a>
      </div>
    </form>
    </div>
    </div>

<script src="./js/login.js"></script>