
<div class="row justify-center">
    <div class="col-11 col-lg-6 align-center" >

    <div class="film-roll-signup">    
      <div class = "card-rounded col-lg-8 col-md-8 ">

        <form class="form login-form">

            <div class="card-header login-title">
              <h2>Login</h2>
            </div>

            <div class="form-group">
              <label for="email-login">email:</label>
              <input class="form-input" type="text"  id="email-login" />
            </div>

            <div class="form-group">
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>

            <div class="form-group">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
            
            <div class="form-group"></div>
              <a href="/join">
                <div class="login-button">ø Don't have a login? Click here to join </div>
              </a>
            </div>

            <p class="bcrypt-protected">Your password is protected with: </p>
            <div class="card-landing">
                <img src="../img/bcrypt_logo.svg" class="card-img-top" alt="...">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>      
</div>
  
<script src="./js/login.js"></script>
