<h1>On search page</h1>
<label>Genres</label>
<select id="ddn-genre">
    {{#each genreInfo as |genre|}}
    <option value="{{id}}">{{genre_name}}</option>
    {{/each}}

</select>

<script src="/js/search.js"></script>