<div class="row mb-4">
  <div class = "col-auto emailLink">
    <h2>Watch List</h2>
    <p>Start stocking up on popcorn, here are your upcoming movies</p>
    </div>

    {{#each movies as |movie|}}
    <div class="text-center add-to-watchlist">
    <p>{{movie.movie_id}}</p>
    </div>
    {{/each}}


  </div>