

header {
    padding: 1rem;
}
#navbarmenu {
    display:table; 
    margin:0 auto; 
    text-align:center; 
    }
#navbarmenu ul {
list-style:none;
display:inline-block; /* IE6/7 haslayout trip-switch */
}

#navbarmenu li {
display:inline;
}

#navbarmenu a {
text-decoration:none; 
padding:0 30px; /* variable width */
font-family: 'Raleway', sans-serif;
color: rgb(185, 200, 228);
}

figure {
        width:100%;
text-align:center;
    }

/* #logo {
        display:inline-block;
margin: 0 auto;
    } */

    
    /* @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
      }  */

      @media only screen and (max-width: 600px) {

        #navbarmenu {
          display: flex;
          flex-direction: row;
          transform:translate(25%, 0%);
        }
      
  
  
  
    }
