

header {
    padding: 30px;
}
#nav {
    display:table; /* centers modern browsers */
    margin:0 auto; /* centers modern browsers */
    text-align:center; /* centers IE6/7 */
    }
#nav ul {
list-style:none;
display:inline-block; /* IE6/7 haslayout trip-switch */
}


#nav li {
display:inline;
}

#nav a {
text-decoration:none; 
padding:0 30px; /* variable width */
font-family: 'Raleway', sans-serif;
color: cornflowerblue;
}

figure {
        width:100%;
text-align:center;
    }

#logo {
        display:inline-block;
margin: 0 auto;
    }

    
    @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
      } 


