:root {
    --primary: #389393;
    /* --secondary: #f5a25d; */
    --secondary: white;
    --tertiary: #fa7f72;
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

  html {
    font-family: system-ui;
    background: rgb(50, 50, 50);
  }

  .logo-container{
    width:100vw;
  }
  
  .logo {
      width:35%;
      min-width:15rem;
      max-width: 30rem;
      height: auto;
  }

.image-container{
    height: 35rem;  
}

.movie-info > p {
    bottom: 0;
    width: 382px;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    text-align: left;
    overflow-y: auto;
    color: black;
    font-size: 3.5rem;
    background: rgba(255,255,255,0.9);
}

.movie-info{
  visibility: hidden;
}

select.notice{
  margin-left: 1rem;
}

.release{
  font-size: 2rem;
  font-weight: 600;
}

a { 
    text-decoration: none;
}

.img:hover .movie-info {
  visibility: visible;
}

h3 {
  font-family: 'Poiret One', cursive;
  font-size:50px;
}

.h6 {
  font-family: 'Poiret One', cursive;
  font-size:20px;
}

header {
  padding: 40px;
  text-align: center; 
  color: white;
  border-bottom-style: solid;
}


.divider{
  padding: 0 2rem;
}

.genres{
  width:10rem;
  font-size: 1rem;
}
  
.no-button{
  flex: 0 0 80%;
  background-color: white;
  border: none;
  color: #1b89bc;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 4%;
}

.landscape-movie-pic{
  flex: 0 0 100%;
  width: 100%;
  height: auto;
}

.no-button:hover{
  color: black;
  text-decoration: underline;
}

.project{
  width: 60rem;
  border-bottom: 0.25rem solid rgb(230, 230, 230);
}

.project-name>h2{
  font-size: 1.6rem;
}

.funds-needed{
  text-align: center;
  background-color: rgb(210, 210, 150);
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}


.movie-overview{
  color: whitesmoke;
  /* font-family: 'Times New Roman', Times, serif; */
      /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Raleway', sans-serif;

}

.movieposter>img {
  flex: 0 1 50%;
  max-height: 20rem;
  width:auto;
  
}

.img-fluid{
  width: auto;
  height: 20rem;
}

.release-date{
  color:whitesmoke;
  padding: 0;
      font-family: 'Raleway', sans-serif;

}

.user-pref{
  background-color: rgb(175, 175, 175);
}


@media only screen and (max-width: 600px) {

  .movie-details{
    display: flex;
  }

  .movieposter>img {
    max-height: 20rem;
    width:auto;
  }

  h3 {
    font-size: 20px;
  }

  .divider{
    display:none;
  }

  .form-group{
    padding:0;
  }

  .form-group>button{
    padding:0.5rem;
  }
  
  #add-to-watchlist{
    margin-left:0.2rem;
  }
}
