:root {
    --primary: #389393;
    /* --secondary: #f5a25d; */
    --secondary: white;
    --tertiary: #fa7f72;
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  html, body, .stage, .ring, .img {
    width:100%;
    height: 50%;
    transform-style: preserve-3d;
    user-select:none;
  }
/*   
  html, body, .stage {
    overflow:hidden;
  } */

  nav{
    z-index:10;
  }
  
  div, svg {
    position: absolute;
  }
  
  .poster-container {
    perspective: 2000px;
    width: 300px;
    height: 400px;  
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }

html {
  font-family: system-ui;
  /* background: #3d76d9; */
  background: rgb(50, 50, 50);
  height: 100%;
    /* background-image: url("../img/film_roll_png.png"); */
    /* background-image: url("../images/white.jpeg"); */
    /* background-size:cover; */
    /* background-attachment: fixed; */
    /* background-position: center;
    background-repeat: no-repeat;  */
    text-size-adjust: 10px;
  /* background: url("../img/4560048.jpeg"); */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */ 
}

/* .bg-image {

  background-image: url("../img/4560048.jpeg");
  
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.watchlist-cards{
  margin-left:50%;
}

.logo-container{
  /* padding-top:20rem; */
  width:100vw;
}

.logo {
    /* margin: 0 35vw; */
    width:33%;
    /* padding: 50px;
    padding: 1rem 0; */
    /* max-width: 45rem; */
    /* filter: brightness(0.75); */
   height: auto;
 } 

.image-container{
    height: 35rem;  
}

.movie-info {
  position: absolute;
    top: 0px;
    width: 400px;
    height: 600px;
    text-decoration: none;
    text-align: center;
    overflow-y: none;
    color: white;
    font-size: 3.5rem;
    background: rgba(0, 0, 0, 0.795);
    visibility: hidden;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width:400px;
  transform: translate(-50%, -50%);
}

.date-align {
text-align: center;
width:100%;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.release{
  font-size: 2.2rem;
  font-weight: 600;
}

a { 
    text-decoration: none;
}

.img:hover .movie-info {
  visibility: visible;
}

header {
  padding: 40px;
  text-align: center; 
  /* background: var(--primary); */
  /* color: var(--secondary); */
  border-bottom-style: solid;
}
  
.no-button{
  background-color: white;
  border: none;
  color: #1b89bc;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.no-button:hover{
  color: black;
  text-decoration: underline;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

.card_landing {
      position: relative;
      text-align: center;
      transform: translate(-17.5rem, 35rem);
      color:  rgb(255, 255, 255);
      font-size: 1rem;
      margin: auto 50%;
      width:35rem;
    }

    /* footer {
      position: relative;
      bottom: -80%;
      width: 100%;
      height: 60px;
      background:#fa7f72;
    } */

  @media only screen and (max-width: 600px) {

      #navbarmenu {
        display: flex;
        flex-direction: column;
      }
        .poster-container {
          
          width: 10px;
          height: 20px;  

        }

        .logo {
          transform:translate(30%,-10%);
        } 
      }
  
      @media (max-width: 450px) {
          html{
            height: 100%;
            width: 100%;
          }

          .logo {
            width:100%;
            height: auto;
          } 

          .poster-container {
            /* perspective: 2000px; */
            width: 10px;
            height: 20px;  
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
          }
        }

  