
html {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: rgb(50, 50, 50);
}

.logo-container{
  width:100vw;
}

.logo {
    width:40%;
    min-width:15rem;
    max-width: 30rem;
    height: auto;
}

a { 
    text-decoration: none;
}

h2 {
    font-family: 'Poiret One', cursive;
    color: white;
}

.form {
  font-family: 'Raleway', sans-serif;
  color: white;

}

header {
  padding: 0;
  text-align: center; 
  color: white;
  border-bottom-style: solid;
}

.divider{
  padding: 0 2rem;
}
  
.no-button{
  background-color: white;
  border: none;
  color: #1b89bc;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.no-button:hover{
  color: black;
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
}


input[type=text] {
  background-color:rgb(185, 200, 228);
  color: #7c302b;
}

input[type=password] {
  background-color:rgb(185, 200, 228);
  color: #7c302b;
}

.login-button {
    font-family: 'Poiret One', cursive;
    width: 100vw;
}

.join-title, .login-title{
  margin-top: 2rem;
}

.bcrypt-protected{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  color: rgb(185, 200, 228);
  font-size: 0.9rem;
}

.card-landing {
  color: rgb(185, 200, 228);
  width: 7rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 600px) {

  form {
    margin-top: -2rem;
  }

  form .form-input {
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem 0;
    font-size: 1rem;
  }
  .card-landing {
    padding-top: 0.8rem;
  }

  form label{
    font-size: 1rem!important;
  }

  .bcrypt-protected{
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }

  .bcrypt-container{
    width: 70%;
  }

  .bcrypt-container {
    width: 70%;
  }

  header {
    padding: 0;
  }

  .login{
    flex: 0 1 20%;
  }

}
